* {
  margin: 0;
  padding: 0;
}
.blank {
  height: 50px;
  padding-top: 150px;
  max-width: 85%;
  margin: auto;
}

.item_header ul {
  background-color: #1273b8;
  display: flex;
  height: 50px;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.item_header ul li {
  list-style: none;
}
.item_details ul li {
  list-style: none;
}
.amount ul li {
  list-style: none;
}
.item_details ul {
  display: flex;
  height: 50px;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-around;
}
.amount ul {
  display: flex;
  height: 50px;
  max-width: 90%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
.next_btn {
  position: absolute;
  top: 550px;
  left: 550px;
  height: 45px;
  width: 250px;
  text-align: center;
  background-color: #1273b8;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
