.Contact-Form {
  height: 80vh;
  max-width: 90%;
  margin: auto;
  display: flex;
}
.l_Form {
  border-radius: 10px;
  height: 90vh;
  width: 60%;
  padding: 50px;
  box-shadow: 10px 4px 8px 5px rgba(57, 53, 53, 0.2),
    10px 6px 20px 10px rgba(0, 0, 0, 0.19);
}
input {
  width: 100%;
  padding: 6px 12px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(30, 29, 29);
}
.r_Form {
  border-radius: 10px;
  height: 90vh;
  width: 40%;
  background-color: #1273b8;
}
.map_data {
  max-width: 88%;
  margin: auto;
  color: white;
  margin-top: 50px;
}
.map {
  height: 300px;
  width: 400px;
  margin-left: 15px;
  border-radius: 10px;
}
.error {
  color: red;
}
